@font-face {
  font-family: FloraniaTrial;
  src: url(./fonts/FloraniaTrial.otf);
}
@font-face {
  font-family: Century;
  src: url(./fonts/DOMINIKTH.TTF);
}
@font-face {
  font-family: Sherland;
  src: url(./fonts/Sherland.ttf);
}


  
html{
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{

  background-color: #B48482 ;
  justify-content: center;
  max-width: 500px ;
  min-width: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
 
  padding: 0;
}
.conteudo-principal{
  background-color: #FFF;
  max-width: 100% ;
  min-width: 200px;
  padding: 50px;
  justify-content: center;
}
.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: -40%;
}
.title-section1{
  margin-top: 100px;
  font-family: FloraniaTrial;
 color:#B48482;
 font-size: 30px;
 text-align: center;
}
.subtitle-section1{
  font-family: Century;
    font-size: 18px;
    color: #B48482;
    text-align: center;
  }
  .results-img{
    margin-top: 25px;
  }
  .btn-section1{
    background-color: #B48482;
    width: 200px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: Century;
    font-weight: bold;
    color: #FFF;
    font-family: Century;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    border:solid;
    padding: 10px;
   
    
}

.divPrincipal{
  background-color: #E3CACA;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 30%;
  padding-right: 30%;
  width: 90%;
}


.resultados{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1%;
 

}

.btn-sectionP{
  background-color: #FFF;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Century;
  font-weight: bold;
  color: #B48482;
  font-family: Century;
  font-size: 100%;
  padding: 1%;
  font-weight: bold;

}

.results-img{
  margin-top: 0;
  width: 100%;
  
}


.cabeçalho{
  background-color: white;
  display:flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-around;
  border-bottom: solid;
  border-color: #A8A6A2;
  border-width: 8px;
  padding: 8px;
  width: 100%;
}
.cabecalho-menu {
  display: flex;
  gap: 20px;
  min-width: 60%;

}


.cabeçalho img{
  width: 100px;
}
.cab-menu-item {
  font-family: Century;
  color: #B48482;
  font-weight: 400;
  font-size: 80%;
  font-weight: bold;
  margin: auto;
}
.submarca{
  width: 100%;
}

.conteudo-sec{
  align-items: center;
  max-width:400px ;
  justify-content: center;
  
}




.icone-txt{
  display: flex;
  gap: 10px;
}

.procedimentos{
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;

  justify-content: center;
}
.item_dir{
  text-align: right;
  display: flex;
  gap: 20px;

  justify-content: center;

}
.item_esq{
  text-align: left;
  display: flex;
  gap: 20px;

  justify-content: center;
}
.descriçao{
  max-width: 200px;
  color: white;
  font-family: Century;
  margin-top: 25px;
}
.descriçao p{
  font-size:12px;
}

.title-proc{
  text-align: center;
  color: #FFF;
  font-family:FloraniaTrial;
  margin-top: 10px;
}


.contato{
  width:100%;
  height: 100%;
  padding: 15px;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.contato h1{
  text-align: center;
}
.icone-txt h4{
  color:#754847;
  font-family: Century;
  margin-top: 5px;
  font-weight: bold;
}

.img-cont{
  justify-content: center;
  align-items: center;
  margin-bottom: 50%;
  margin-right: 10%;
}

.img-C{
  width: 25px;
}

.btn-sectionC{
  background-color: #B48482;
  width: 50px;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: Century;
  font-weight: bold;
  color:#FFF ;
  font-family: Century;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;

  
}
.img-cont img{
  border:solid;
  border-radius: 15%;
  border-color: #B48482;
  margin-top: 40px;
}

.div1{
  text-align: center;
}
.div2{
  margin: auto;
  align-items: center;
  
}
.conteudo-sec{
  text-align: center;
  
}
.imgsec2{
  width: 300px;
}

.infos{

  padding-left: 20%;
  margin-left: 10%;
}


@media screen and (min-width: 600px){
   
  html, body{
    max-width: 100% ;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  .divPrincipal{
    width: 40%;
    height: 60%;
  

  }
  .title-proc{
    font-size: 300%;
  }
  .icone-txt{
    width: 200%;
  }
  .icone-txt h4{
    font-size: 120%;
  }
  .img-C{
    width: 50px;
  }
  .btn-sectionC{
    font-size: 120%;
    padding: 1%;
  }
  .infos{
   
    margin-right: 26%;

  }
  .conteudo{
    display: flex;
    flex-direction:row; 
    height: 100%;
  }
  .title-section1{
    margin-top: 40%;
    font-size: 300%;
  }
  .subtitle-section1{
    font-size: 190%;
  }
  .div1{
    width: 50%;
    height: 100%;
  }

  .btn-section1{
   font-size: 200%;
  }

  .conteudo-principal{
    height: 100%;
  }
 main{
  height: 100%;
 }
  .div2{
    width: 50%;
    height: 100%;
  }
  .conteudo-sec{
    height: 100%;
  }

  .cabeçalho{
    padding:2%;
  }
  .img-cab{
    width: 40%;
  }
  .img-cont img{
    margin-top: -25%;
    margin-left: 40%;
    width:120px;
  }

  .imgsec2{
    width: 150%;
  }

  .cabecalho-menu{
    min-width:70%;
  }
  .cab-menu-item{
    font-size: 130%;
  }
  .btn-sectionP{
  
    font-size: 180%;
  }
}